{% extends "layout.html" %}
{% block body %}
<h1>Guestbook!</h1>

{% with logged_in = session['logged_in'] %}
{% if logged_in %}<form action="/moderate" method="POST">{% endif %}
{% for id, name, entry, posted_at in entries %}
<input type="hidden" name="id" value="{{ id }}">
<div class="panel panel-default">
	<div class="panel-heading">
		{% if logged_in -%}<button type="submit" class="close">×</button>{%- endif %}
		<h3 class="panel-title">Posted by {{ name }} on <span class="format-date">{{ posted_at }}</span></h3>
	</div>
	<div class="panel-body">
		{{ entry }}
	</div>
</div>
{% endfor %}
{% if logged_in %}</form>{% endif %}
{% endwith %}

<div class="row">
	<div class="col-md-12">
		<h2>Add an entry</h2>
		<form action="/submit" method="POST" class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" placeholder="Name">
				</div>
			</div>

			<div class="form-group">
				<label for="entry" class="col-sm-2 control-label">Entry</label>
				<div class="col-sm-10">
					<textarea class="form-control" name="entry" rows="5" placeholder="Entry"></textarea>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script src="//assets.nyw.li/js/moment.min.js"></script>
<script>
(function() {
	var dates = document.getElementsByClassName('format-date');

	for(var i = 0; i < dates.length; i++) {
		var date = dates[i];
		var m = moment.utc(date.innerText);

		date.innerText = m.fromNow();
	}
})();
</script>
{% endblock %}
