<!DOCTYPE html>
<html>
<head>
	<title>Guestbook</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="//assets.nyw.li/css/bootstrap-3.0.0/flatly.min.css">
	<style>
	.container {
		margin-top: 15px;
	}
	</style>
</head>
<body>
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="alert alert-info">
					<ul class="list-unstyled">
						{% for message in messages %}
						<li>{{ message }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% endif %}
		{% endwith %}

		{% block body %}{% endblock %}
	</div>
</body>
</html>